# Preprocess subject data

In [1]:
import pandas as pd

In [13]:
import sys
import os
src_path = os.path.dirname(os.path.abspath("../../src"))
sys.path.append(src_path)
from src.preprocessing.classes import Subject
from src.utils.config import Config
import src.configs.config as configs
import src.preprocessing.utils as pre_utils 

# Load in subject IDs and paths from CFGLog
config = Config.from_json(configs.CFGLog)

CLBP_CP_subject_ids = config.data.chronic_low_back_pain.subject_ids.CP
CLBP_HC_subject_ids = config.data.chronic_low_back_pain.subject_ids.HC

# CLBP already processed
clbp_processed_path = config.data.chronic_low_back_pain.processed_path

# Define preprocessing parameters
# Combine all subject IDs into dict separated by group
sub_ids = {
    "chronic_low_back_pain": CLBP_CP_subject_ids + CLBP_HC_subject_ids
}

print(f"Total subjects: {len(sub_ids['chronic_low_back_pain'])}")
print(sub_ids)

# Initialize dataframe
df = pd.DataFrame(columns=['subject_id', 'num_remaining_epochs', 'num_dropped', 'percent_dropped'])
dropped_epochs = {}

for group in sub_ids:
    for sub_id in sub_ids[group]:
        subject = Subject(sub_id, group)
        
        # Load in Epochs data
        subject.load_epochs()
        num_epochs = len(subject.epochs)
        subject.load_epochs_info(clbp_processed_path)
        drop_log = subject.drop_log['drop_log'][0] if len(subject.drop_log['drop_log']) > 0 else []
        
        # Save number of remaining epochs, number dropped, and percent dropped to dataframe
        print(f"Subject: {sub_id}, Num Remaining Epochs: {num_epochs - len(drop_log)}, Num Dropped: {len(drop_log)}, Percent Dropped: {len(drop_log)/num_epochs}")
        df.loc[len(df.index)] = [sub_id, num_epochs - len(drop_log), len(drop_log), (len(drop_log)/num_epochs)*100]
        
        # Make a dictionary where the keys are the subject IDs and the values are the dropped epoch indices
        if len(drop_log) > 0:
            dropped_epochs.update({sub_id: drop_log})
            # subject.save(dropped_epochs=dropped_epochs)

Total subjects: 43
{'chronic_low_back_pain': ['018', '022', '024', '031', '032', '034', '036', '039', '040', '045', '046', '052', '020', '021', '023', '029', '037', '041', '042', '044', '048', '049', '050', '056', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C2.', 'C24', 'C25', 'C26', 'C27', 'C3.', 'C6.', 'C7.', 'C9.']}
Loaded epochs for subject 018
Subject: 018, Num Remaining Epochs: 73, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 022
Subject: 022, Num Remaining Epochs: 52, Num Dropped: 4, Percent Dropped: 0.07142857142857142
Loaded epochs for subject 024
Subject: 024, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 031
Subject: 031, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 032
Subject: 032, Num Remaining Epochs: 22, Num Dropped: 19, Percent Dropped: 0.4634146341463415
Loaded epochs for subject 034
Subject: 034, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 036
Subject: 036, Num Remaining Epochs: 55, Num Dropped: 2, Percent Dropped: 0.03508771929824561
Loaded epochs for subject 039
Subject: 039, Num Remaining Epochs: 44, Num Dropped: 8, Percent Dropped: 0.15384615384615385
Loaded epochs for subject 040
Subject: 040, Num Remaining Epochs: 52, Num Dropped: 4, Percent Dropped: 0.07142857142857142
Loaded epochs for subject 045
Subject: 045, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 046
Subject: 046, Num Remaining Epochs: 59, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 052
Subject: 052, Num Remaining Epochs: 58, Num Dropped: 1, Percent Dropped: 0.01694915254237288
Loaded epochs for subject 020
Subject: 020, Num Remaining Epochs: 80, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 021
Subject: 021, Num Remaining Epochs: 100, Num Dropped: 10, Percent Dropped: 0.09090909090909091
Loaded epochs for subject 023
Subject: 023, Num Remaining Epochs: 51, Num Dropped: 4, Percent Dropped: 0.07272727272727272
Loaded epochs for subject 029
Subject: 029, Num Remaining Epochs: 36, Num Dropped: 12, Percent Dropped: 0.25
Loaded epochs for subject 037
Subject: 037, Num Remaining Epochs: 28, Num Dropped: 15, Percent Dropped: 0.3488372093023256
Loaded epochs for subject 041
Subject: 041, Num Remaining Epochs: 58, Num Dropped: 1, Percent Dropped: 0.01694915254237288
Loaded epochs for subject 042
Subject: 042, Num Remaining Epochs: 68, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 044
Subject: 044, Num Remaining Epochs: 15, Num Dropped: 20, Percent Dropped: 0.5714285714285714
Loaded epochs for subject 048
Subject: 048, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject 049
Subject: 049, Num Remaining Epochs: 49, Num Dropped: 5, Percent Dropped: 0.09259259259259259
Loaded epochs for subject 050
Subject: 050, Num Remaining Epochs: 56, Num Dropped: 2, Percent Dropped: 0.034482758620689655
Loaded epochs for subject 056
Subject: 056, Num Remaining Epochs: 57, Num Dropped: 1, Percent Dropped: 0.017241379310344827
Loaded epochs for subject C10
Subject: C10, Num Remaining Epochs: 54, Num Dropped: 3, Percent Dropped: 0.05263157894736842
Loaded epochs for subject C11
Subject: C11, Num Remaining Epochs: 58, Num Dropped: 1, Percent Dropped: 0.01694915254237288
Loaded epochs for subject C12
Subject: C12, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C13
Subject: C13, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C14
Subject: C14, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C15
Subject: C15, Num Remaining Epochs: 54, Num Dropped: 3, Percent Dropped: 0.05263157894736842
Loaded epochs for subject C16
Subject: C16, Num Remaining Epochs: 54, Num Dropped: 3, Percent Dropped: 0.05263157894736842
Loaded epochs for subject C17
Subject: C17, Num Remaining Epochs: 59, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C18
Subject: C18, Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C19
Subject: C19, Num Remaining Epochs: 52, Num Dropped: 4, Percent Dropped: 0.07142857142857142
Loaded epochs for subject C2.
Subject: C2., Num Remaining Epochs: 68, Num Dropped: 6, Percent Dropped: 0.08108108108108109
Loaded epochs for subject C24
Subject: C24, Num Remaining Epochs: 50, Num Dropped: 5, Percent Dropped: 0.09090909090909091
Loaded epochs for subject C25
Subject: C25, Num Remaining Epochs: 53, Num Dropped: 3, Percent Dropped: 0.05357142857142857
Loaded epochs for subject C26
Subject: C26, Num Remaining Epochs: 118, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C27
Subject: C27, Num Remaining Epochs: 44, Num Dropped: 8, Percent Dropped: 0.15384615384615385
Loaded epochs for subject C3.
Subject: C3., Num Remaining Epochs: 73, Num Dropped: 3, Percent Dropped: 0.039473684210526314
Loaded epochs for subject C6.
Subject: C6., Num Remaining Epochs: 44, Num Dropped: 8, Percent Dropped: 0.15384615384615385
Loaded epochs for subject C7.
Subject: C7., Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0
Loaded epochs for subject C9.
Subject: C9., Num Remaining Epochs: 60, Num Dropped: 0, Percent Dropped: 0.0

In [14]:
df.set_index('subject_id', inplace=True)
df

            num_remaining_epochs  num_dropped  percent_dropped
subject_id
018                           73            0         0.000000
022                           52            4         7.142857
024                           60            0         0.000000
031                           60            0         0.000000
032                           22           19        46.341463
034                           60            0         0.000000
036                           55            2         3.508772
039                           44            8        15.384615
040                           52            4         7.142857
045                           60            0         0.000000
046                           59            0         0.000000
052                           58            1         1.694915
020                           80            0         0.000000
021                          100           10         9.090909
023                           51            4         7.272727
029                           36           12        25.000000
037                           28           15        34.883721
041                           58            1         1.694915
042                           68            0         0.000000
044                           15           20        57.142857
048                           60            0         0.000000
049                           49            5         9.259259
050                           56            2         3.448276
056                           57            1         1.724138
C10                           54            3         5.263158
C11                           58            1         1.694915
C12                           60            0         0.000000
C13                           60            0         0.000000
C14                           60            0         0.000000
C15                           54            3         5.263158
C16                           54            3         5.263158
C17                           59            0         0.000000
C18                           60            0         0.000000
C19                           52            4         7.142857
C2.                           68            6         8.108108
C24                           50            5         9.090909
C25                           53            3         5.357143
C26                          118            0         0.000000
C27                           44            8        15.384615
C3.                           73            3         3.947368
C6.                           44            8        15.384615
C7.                           60            0         0.000000
C9.                           60            0         0.000000

In [15]:
dropped_epochs

{'022': array([14, 18, 36, 38]),
 '032': array([ 0,  3,  9, 22, 24, 27, 28, 34, 36, 38, 42, 43, 44, 45, 47, 48, 51,
        56, 59]),
 '036': array([52, 56]),
 '039': array([12, 16, 31, 32, 33, 50, 56, 59]),
 '040': array([15, 24, 31, 42]),
 '052': array([19]),
 '021': array([ 12,  29,  34,  40,  41,  52,  53,  72, 113, 116]),
 '023': array([32, 33, 46, 55]),
 '029': array([10, 30, 31, 36, 37, 41, 49, 53, 56, 57, 58, 59]),
 '037': array([27, 28, 30, 35, 37, 38, 44, 45, 46, 47, 48, 49, 50, 52, 54]),
 '041': array([26]),
 '044': array([ 0,  1,  2,  3,  4,  5,  6,  8, 10, 11, 13, 15, 18, 20, 26, 28, 29,
        46, 53, 54]),
 '049': array([13, 17, 29, 50, 54]),
 '050': array([13, 16]),
 '056': array([33]),
 'C10': array([ 0, 18, 54]),
 'C11': array([41]),
 'C15': array([10, 45, 48]),
 'C16': array([10, 34, 49]),
 'C19': array([ 0,  6, 18, 19]),
 'C2.': array([ 6,  9, 30, 48, 60, 61]),
 'C24': array([19, 38, 54, 55, 57]),
 'C25': array([ 0,  1, 50]),
 'C27': array([ 7, 13, 15, 19, 22, 45, 53, 58]),
 'C3.': array([17, 30, 43]),
 'C6.': array([19, 45, 46, 52, 53, 56, 58, 59])}

In [4]:
# save to csv in data/chronic_low_back_pain/percent_trials_dropped.csv
df.to_csv(f'../../data/{group}/percent_trials_dropped.csv')

In [7]:
# load in ratings master xlsx sheet for all subjects
df_master = pd.read_excel('../../data/chronic_low_back_pain/ratings_master.xlsx')

In [10]:
df_master = df_master.T
# make the first column the index and name it subject_id
df_master.index.name = 'subject_id'
df_master.columns = df_master.iloc[0]
df_master = df_master.iloc[1:]
df_master

pinprick,NaN,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,111.0,112.0,113.0,114.0,115.0,116.0,117.0,118.0,119.0,120.0
subject_id,,,,,,,,,,,,,,,,,,,,,
6,Male,1,1,1,1,0,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Male,1,1,1,2,1,3,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Female,1,1,1,2,1,1,1,1,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Male,4,1,1,1,1,4,3,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Male,2,1,2,3,1,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Female,1,1,1,2,2,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Male,3,1,3,1,3,1,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Male,1,2,3,2,1,1,4,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Male,1,2,0,1,2,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Female,1,1,1,1,1,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Male,1,3,4,2,5,2,6,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Male,1,1,3,3,4,4,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Male,1,1,0,0,2,1,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Male,4,1,2,1,2,4,1,1,5,...,1,3,2,1,1,1,2,3,1,1
22,Male,9,9,7,9,9,7,9,9,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Male,1,1,1,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Male,2,1,2,3,5,4,4,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Male,6,2,1,4,6,1,1,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Male,7,8,3,5,2,2,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Female,2,0,1,1,3,1,1,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Female,3,1,3,1,2,4,4,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Male,3,4,3,3,4,1,3,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Female,2,4,1,2,4,4,4,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Male,5,5,6,4,5,5,5,6,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Male,1,3,4,4,3,3,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Male,2,2,1,2,3,1,2,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Male,0,1,4,2,2,4,3,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Female,1,0,3,0,2,2,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Male,3,4,5,5,3,4,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Male,2,1,2,1,1,3,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Female,0,1,0,1,1,1,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Female,1,3,6,5,3,3,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Male,2,1,3,2,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Female,2,0,2,0,1,2,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Female,2,1,2,0,3,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Female,0,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Male,1,0,1,1,1,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Male,2,2,2,2,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Female,3,4,4,4,3,5,6,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Female,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Male,1,0,3,1,0,1,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Male,2,1,3,2,2,4,1,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Male,5,1,2,2,1,4,1,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Female,0,0,1,0,1,1,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Female,2,0,1,3,3,4,3,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Male,3,1,4,2,1,3,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Male,1,3,1,0,1,5,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Female,2,4,8,1,2,9,8,7,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Female,1,3,5,2,0,5,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Male,4,2,4,1,2,4,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Female,2,0,4,2,0,2,4,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Male,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# use dropped_epochs dictionary to delete the dropped epochs from the dataframe for each subject individually
for sub_id in dropped_epochs:
    # remove the 0 in front of each sub_id
    sub_id = sub_id[1:]
    df_master.loc[sub_id] = df_master.loc[sub_id].drop(dropped_epochs[sub_id])

KeyError: '22'

In [20]:
df_master

pinprick,NaN,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,111.0,112.0,113.0,114.0,115.0,116.0,117.0,118.0,119.0,120.0
subject_id,,,,,,,,,,,,,,,,,,,,,
6,Male,1,1,1,1,0,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Male,1,1,1,2,1,3,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Female,1,1,1,2,1,1,1,1,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Male,4,1,1,1,1,4,3,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Male,2,1,2,3,1,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Female,1,1,1,2,2,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Male,3,1,3,1,3,1,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Male,1,2,3,2,1,1,4,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Male,1,2,0,1,2,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Female,1,1,1,1,1,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Male,1,3,4,2,5,2,6,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Male,1,1,3,3,4,4,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Male,1,1,0,0,2,1,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Male,4,1,2,1,2,4,1,1,5,...,1,3,2,1,1,1,2,3,1,1
22,Male,9,9,7,9,9,7,9,9,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Male,1,1,1,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Male,2,1,2,3,5,4,4,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Male,6,2,1,4,6,1,1,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Male,7,8,3,5,2,2,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Female,2,0,1,1,3,1,1,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Female,3,1,3,1,2,4,4,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Male,3,4,3,3,4,1,3,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Female,2,4,1,2,4,4,4,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Male,5,5,6,4,5,5,5,6,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Male,1,3,4,4,3,3,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Male,2,2,1,2,3,1,2,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Male,0,1,4,2,2,4,3,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Female,1,0,3,0,2,2,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Male,3,4,5,5,3,4,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Male,2,1,2,1,1,3,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Female,0,1,0,1,1,1,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Female,1,3,6,5,3,3,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Male,2,1,3,2,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Female,2,0,2,0,1,2,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Female,2,1,2,0,3,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Female,0,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Male,1,0,1,1,1,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Male,2,2,2,2,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Female,3,4,4,4,3,5,6,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Female,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Male,1,0,3,1,0,1,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Male,2,1,3,2,2,4,1,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Male,5,1,2,2,1,4,1,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Female,0,0,1,0,1,1,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Female,2,0,1,3,3,4,3,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Male,3,1,4,2,1,3,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Male,1,3,1,0,1,5,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Female,2,4,8,1,2,9,8,7,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Female,1,3,5,2,0,5,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Male,4,2,4,1,2,4,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Female,2,0,4,2,0,2,4,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Male,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN